In [197]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [198]:
from sklearn.datasets import load_boston

In [199]:
boston = load_boston()

In [200]:
boston_df = DataFrame(boston.data)
boston_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [201]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [202]:
boston_df.columns = boston.feature_names

boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [203]:
feature_names_japanese = ['犯罪', '住宅密度', '商業割合', '川周辺', '窒素酸化物', '部屋数', '古物件', '雇用施設距離', '高速アクセス', '不動産税率', '教師率', '黒人率', '低給職業']
boston_df.columns = feature_names_japanese

boston_df.head()

,犯罪,住宅密度,商業割合,川周辺,窒素酸化物,部屋数,古物件,雇用施設距離,高速アクセス,不動産税率,教師率,黒人率,低給職業
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [204]:
boston_df.shape

(506, 13)

In [205]:
boston_df['価格'] = DataFrame(boston.target)
boston_df.head()

,犯罪,住宅密度,商業割合,川周辺,窒素酸化物,部屋数,古物件,雇用施設距離,高速アクセス,不動産税率,教師率,黒人率,低給職業,価格
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [206]:
df = boston_df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   犯罪      506 non-null    float64
 1   住宅密度    506 non-null    float64
 2   商業割合    506 non-null    float64
 3   川周辺     506 non-null    float64
 4   窒素酸化物   506 non-null    float64
 5   部屋数     506 non-null    float64
 6   古物件     506 non-null    float64
 7   雇用施設距離  506 non-null    float64
 8   高速アクセス  506 non-null    float64
 9   不動産税率   506 non-null    float64
 10  教師率     506 non-null    float64
 11  黒人率     506 non-null    float64
 12  低給職業    506 non-null    float64
 13  価格      506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [ ]:
#　本当はここでseabornでheatmapを出したいですが日本語の文字化け対処ができていないのでとばしました

In [207]:
df.corr()['価格']

犯罪       -0.388305
住宅密度      0.360445
商業割合     -0.483725
川周辺       0.175260
窒素酸化物    -0.427321
部屋数       0.695360
古物件      -0.376955
雇用施設距離    0.249929
高速アクセス   -0.381626
不動産税率    -0.468536
教師率      -0.507787
黒人率       0.333461
低給職業     -0.737663
価格        1.000000
Name: 価格, dtype: float64

In [208]:
from sklearn.model_selection import train_test_split

In [209]:
from sklearn.linear_model import LinearRegression

In [210]:
y = df['価格']
X = df.drop('価格', axis=1)

In [211]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

In [212]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [213]:
print('決定係数(train):{:.4f}'.format(model.score(X_train,y_train)))
print('決定係数(test):{:.4f}'.format(model.score(X_test,y_test)))

決定係数(train):0.7878
決定係数(test):0.6663

In [214]:
print('\n回帰係数\n{}'.format(pd.Series(model.coef_, index=X.columns)))
print('\n切片: {:3f}'.format(model.intercept_))

回帰係数
犯罪        -0.122697
住宅密度       0.057684
商業割合       0.074205
川周辺        3.389500
窒素酸化物    -16.539152
部屋数        3.577302
古物件       -0.002980
雇用施設距離    -1.557595
高速アクセス     0.250098
不動産税率     -0.009739
教師率       -1.125278
黒人率        0.006851
低給職業      -0.592410
dtype: float64

切片: 41.586077

In [ ]:
#VIF出したいけどうまくだせない